<p id="notice"><%= notice %></p>

<h1>Our Awesome Students!</h1>

<div class="mbot-20">
  <%= link_to 'New Student', new_student_path, class: "btn btn-success" %>
</div>

<div class="row">
  <% @students.each do |student| %>
    <div class="col-md-4">
      <div class="well">
        <h2><%= student.name %></h2>
        <p>...is in <strong><%= student.grade_level.ordinalize %> Grade</strong></p>
        <p>They are getting a(n) <strong><%= student.letter_grade %></strong></p>
        <p>
          <%= link_to 'Show', student, class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_student_path(student), class: "btn btn-warning" %>
          <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </p>
      </div>
    </div>
  <% end %>
</div>
