<p id="notice"><%= notice %></p>

<h3>
	<%= @student.name %>
</h3>

<p>
  <em>...attends</em> <%= @student.grade_level.ordinalize %> Grade
</p>

<p>
  <em>Currently letter grade:</em> <%= @student.letter_grade %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
